<nav>
    <ul>
        {{#each menu.items}}
            <li>
                <a href="{{url}}">{{title}}</a>
            </li>
        {{/each}}
    </ul><br/>
    {{>widgets}}<br/>
    {{>widgets-oscares}}<br/>
    {{>widgets-eleicoes}}<br/>
    {{>widgets-foo}}
</nav>