[disabled] {
    cursor: default;
    pointer-events: none;
    opacity: .75;
}
[data-locked] {
    overflow: hidden!important;
}
.align-,
.full- {
    &left {
        text-align: left;
    }
    &center {
        text-align: center;
    }
    &right {
        text-align: right;
    }
}
.float-,
.full- {
    &left {
        text-align: left;
    }
    &right {
        text-align: right;
    }
}
pre {
    font-size: 11px;
    width: 100%;
    background: #f3f3f3;
}